@font-face {
    font-family:'FlexoRegular' ;
    src: url(../File/FlexoRegular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');
.exile-regular {
  font-family: "Exile", system-ui;
  font-weight: 400;
  font-style: normal;
}

p{color: crimson;font-family: 'Exile';}
h1{font-family: 'FlexoRegular';}